{% extends "base.html" %}
{% block content %}

<h1 class ="text-left">Muistilista </h1>

<p class ="text-justify">Tervetuloa Topin muistilista sivustolle! <br> Tällä sivustoilla voit listata
    askareita jotka muuten pääsisi unohtumaan.<br> Askareille voi asettaa tärkeysarvoja ja omia luokkia,
    ja niitä voi sitten ratkaista tarpeen mukaan!<br></p>
<div class="text-left"> 
    <button class="btn btn-danger">Rekisteröitymiseen</button>
    <button class="btn btn-primary" class="pull">Kirjautumiseen</button>
</div>


{% endblock %}