{% extends "base.html" %}
{% block content %}
<h1>Muokkaa tehtävää Pyykkien pesu</h1>

<form>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Suoritettu
        </label>
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="Pyykkien pesu" type="text">
    </div>
    <p></p>
    <div class="form-group">
        <label>Lisäyspäivä</label>
        <input class="form-control" value=22.03.2017 type="text">
    </div>
    <div>
        <label>Tärkeysaste</label>
        <p class="small"></p>
        <select>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
    </div>
    <p></p>
    <div class="form-group">
        <label>Deadline</label>
        <input class="form-control" value="25.03.2017" type="text">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control">Pese kaikki pyykit! -Valkopyykit, lakanat, pyyhkeet sekä villapaidat!
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}