{% extends "base.html" %}
{% block content %}
<h1>Muokkaa tehtävää {{tehtava.nimi}}</h1>


<form method="post" action="{{base_path}}/tehtava/{{tehtava.tehtava_id}}/poista" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>

<form method="post" action="{{base_path}}/tehtava/{{tehtava.tehtava_id}}/edit">
    <div class="checkbox">
        <label>
            {% if tehtava.suoritettu %}
            <input type="checkbox" name="suoritettu" checked>
            {% else %}
            <input type="checkbox" name="suoritettu">
            {% endif %}
            Suoritettu
        </label>
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="{{tehtava.nimi}}" type="text" name="nimi">
    </div>
    <p></p>
    <div>
        <label>Tärkeysaste</label>
        <p class="small"></p>
        {% if tehtava.tarkeysaste == 5 %}
        <select name ="tarkeysaste" class="form-group">
            <option value="5" selected>5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
        {% elseif tehtava.tarkeysaste == 4 %}
        <select name ="tarkeysaste" class="form-group">
            <option value="5">5</option>
            <option value="4" selected>4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
        {% elseif tehtava.tarkeysaste == 3 %}
        <select name ="tarkeysaste" class="form-group">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3" selected>3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
        {% elseif tehtava.tarkeysaste == 2 %}
        <select name ="tarkeysaste" class="form-group">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2" selected>2</option>
            <option value="1">1</option>
        </select>
        {% elseif tehtava.tarkeysaste == 1 %}
        <select>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1" selected>1</option>
        </select>
        {% endif %}
    </div>
    <p></p>
    <div class="form-group">
        <label>Deadline</label>
        <input class="form-control" value="{{tehtava.deadline}}" type="text" name="deadline">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control" name="kuvaus">{{tehtava.kuvaus}}
        </textarea>
    </div>

    <div class="checkbox">
        {% for luokka  in luokat %}
        {% if luokka.tehtavaLiitos == 0  %}
        <label class="checkbox-inline"><input name="luokat[]" type="checkbox" value="{{luokka.luokka_id}}">{{luokka.nimi}}</label>
        {% else %}
        <label class="checkbox-inline"><input name="luokat[]" type="checkbox" value="{{luokka.luokka_id}}" checked>{{luokka.nimi}}</label>
        {% endif %}
        {% endfor %}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}