{% extends "base.html" %}
{% block content %}
<h2>Uusi käyttäjätunnus</h2>

<form class="form-horizontal" method="post" action="{{base_path}}/uusitunnus">

    <div class="form-group">
        <label class="control-label col-sm-2" for="tunnus">Tunnus:</label>
        <div class="col-sm-10">
            <input name="tunnus" type="text" class="form-control" id="email" placeholder="Tunnuksen tulee olla vähintään neljä merkkiä pitkä.">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Salasana:</label>
        <div class="col-sm-10">          
            <input name="salasana" type="password" class="form-control" id="pwd" placeholder="Salasanan pituuden tulee olla vähintään kuusi merkkiä pitkä ja sen tulee sisältää kolme numeroa.">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Salasana:</label>
        <div class="col-sm-10">          
            <input name="vsalasana" type="password" class="form-control" id="pwd" placeholder="Salasana uudestaan.">
        </div>
    </div>


    <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Luo</button>
        </div>
    </div> 

</form>




{% endblock %}