{% extends "base.html" %}
{% block content %}
<h1>Pyykkien pesu</h1>
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<ul>
    <li><strong>Lisäyspäivä:</strong> 22.03.2017</li>
    <li><strong>Tärkeysaste:</strong> 5</li>
    <li><strong>Suoritettu:</strong> <label class="label label-danger">EI</label></li>
    <li><strong>Deadline:</strong> 25.03.2017</li>
    <li><strong>Luokat:</strong><a href="#">Vapaa-aika</a> <a href="#">Kotityöt</a></li>
</ul>
<p1>Pese kaikki pyykit! -Valkopyykit, lakanat, pyyhkeet sekä villapaidat!</p1>
{% endblock %}