{% extends "base.html" %}
{% block content %}
<h1>{{tehtava.nimi}}</h1>

<form method="post" action="{{base_path}}/tehtava/{{tehtava.tehtava_id}}/poista" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>


<a class="btn btn-default btn-sm" href="{{base_path}}/tehtava/{{tehtava.tehtava_id}}/edit">Muokkaa</a>

<ul>
    <li><strong>Lisäyspäivä:</strong> {{tehtava.lisayspaiva}}</li>
    <li><strong>Tärkeysaste:</strong> {{tehtava.tarkeysaste}}</li>
    <li><strong>Suoritettu:</strong>
        {% if tehtava.suoritettu != 0%}
        <label class="label label-success">KYLLÄ</label>
        {% else %}
        <label class="label label-danger">EI</label>
        {% endif %}
    <li><strong>Deadline:</strong> {{tehtava.deadline}}</li>
    <li><strong>Luokat:</strong><a href="#">Vapaa-aika</a> <a href="#">Kotityöt</a></li>
</ul>
<p>{{tehtava.kuvaus}}</p>
{% endblock %}