{% extends "base.html" %}
{% block content %}
<h3>{{tehtava.nimi}}</h3>


<ul>
    <li><strong>Lisäyspäivä:</strong> {{tehtava.lisayspaiva}}</li>
    <li><strong>Tärkeysaste:</strong> {{tehtava.tarkeysaste}}</li>
    <li><strong>Suoritettu:</strong>
        {% if tehtava.suoritettu != 0%}
        <label class="label label-success">KYLLÄ</label>
        {% else %}
        <label class="label label-danger">EI</label>
        {% endif %}
    <li><strong>Deadline: </strong> {{tehtava.deadline}}</li>
    <li><strong>Luokat:</strong>  
        {% for luokka in tehtava.luokat %}
        [<a href="{{base_path}}/luokka/{{luokka.luokka_id}}">{{luokka.nimi}}</a>]
        {% endfor %}
    </li>
</ul>
<p>{{tehtava.kuvaus}}</p>

<form method="post" action="{{base_path}}/tehtava/{{tehtava.tehtava_id}}/poista" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>


<a class="btn btn-default btn-sm" href="{{base_path}}/tehtava/{{tehtava.tehtava_id}}/edit">Muokkaa</a>
{% endblock %}